*{
  margin:0;
  padding:0;
}

body {
  font-family: 'Outfit', sans-serif;
  color:rgb(0, 12, 78);
  
}


header {
  position: fixed;
  background-color: aquamarine;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  top:0;
}

h1{
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 1rem;
}

h2{
  font-size: 1.2em;
  font-weight:600;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.fa-right-from-bracket , .fa-xmark {
  color:rgb(0, 12, 78);
}

.fa-xmark{
  margin-left:0.5rem;
  font-size:2em;
}

.fa-right-from-bracket {
  position: fixed;
  top: 1rem;
  right: 0.5rem;
}

.fa-right-from-bracket:hover {
  color: white;
}

.expenses-head{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.add-button{
  position: fixed;
  bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
  width: 3rem;
  height: 3rem;
  font-size: 30px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.add-button:hover {
  background-color: rgb(0, 12, 78);
  color:aquamarine;
  transition: ease-in-out all 0.3s;
  transform: scaleY(1.1) scaleX(1.1);
}

.fa-right-from-bracket:hover , .fa-xmark:hover{
  color:aquamarine;
  transition: ease-in-out all 0.3s;
  transform: scaleY(1.3) scaleX(1.3);
}

.expenses-list, .connexion-container , .add-container{
  border-radius: 10px;
  padding: 0.5rem;
  margin: 4.5rem 0.5rem 3rem 0.5rem;
  background-color: rgb(251, 251, 251);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.year-title{
  background-color:rgb(0, 12, 78);
  color:aquamarine;
  border-radius: 25px;
  width: auto;
  padding: 0.3rem;
}

.year-title:hover{
  cursor: pointer;
  background-color:aquamarine;
  color:rgb(0, 12, 78);
  transition: ease-in-out all 0.3s;
  transform: scaleY(1.3) scaleX(1.3);
}

.month{
  margin:0 0.4rem 1rem 0.4rem;
}

.month-title{
  display: flex;
  justify-content: space-between;
}

.month-name{
  background-color:aquamarine;
  color:rgb(0, 12, 78);
  border-radius: 25px;
  width: auto;
  padding: 0.3rem;
}

.expense{
  margin:0.8rem;
  display: flex;
  justify-content: space-between;
}

.expense-left-side {
  display: flex;
  justify-content: flex-start;
}

.expense-right-side{
  display: flex;
  justify-content: flex-end;
}

.expense-name , .expense-mount {
  border: none;
  background-color: transparent;
  margin-left: 0.5rem;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
}

.expense-mount{
  width: 2rem;
}